@use 'spacing.scss';

/* Custom elements */
.memberCircle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    background: var(--ion-card-background);
    z-index: 10000;
}

.subheader {
    display: flex;
    justify-content: space-between;

    ion-card {
        flex-basis: 50%;
    }
}


/* iOS 15 Styling */
.listheader {
    margin-bottom: 6px;
    padding-left: 35px;
    color: var(--ion-color-step-550);
    text-transform: uppercase;
    font-size: 0.85rem;
}

ion-card {
    --background: var(--ion-color-step-200);

    ion-card-content {
        ion-item {
            --background: #00000000;
            --border-color: var(--ion-color-step-400);

            &:last-of-type {
                --border-style: none;
            }

            ion-label {
                p {
                    &:first-child {
                        color: var(--ion-text-color);
                        font-size: 1.06rem;
                    }
                }
            }

            ion-note {
                --color: var(--ion-color-step-650);
            }
        }

        p {
            color: var(--ion-text-color);
        }
    }
}